MONGODB_URI=
MONGODB_DB=

ADMIN_USERNAME=
ADMIN_PASSWORD=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

#CONFIGURE YOUR SMTP SERVER DATA
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_FROM=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=

NEXTAUTH_URL=http://localhost:3000/